mixin user(user)
    div.user__itmes
        div.user__image
            a(href=`/user/profile/${user._id}`)
                img(src=`/${user.avatarUrl}`)
        div.user__metaData
            strong #{user.username} 
            include ../partials/access/view/viewMajorSearch.pug
            include ../partials/access/view/viewStatusSearch.pug

        form.user__description
            div#modifyForm
                span #{user.accountDescription}
    // using Search.pug