@import "../config/_mixin";
@import "../config/_variables";
@import "../config/_variablesFinal";

.form__content {
  width: auto;
  height: auto;

  padding: 25px 10px;

  @include flexCenterCenter;
  @media screen and (min-width: 1200px) {
    padding: 30px 10px;
  }
  @media screen and (max-width: 800px) {
    padding: 20px 5px;
  }
}

$margin: 20px;
.form__content-grid {
  display: grid;
  grid-template: repeat(1, auto) / repeat(2, 1fr);
  gap: $margin;
  margin-top: $margin;
  @include standardTrnasition;
  @media screen and (min-width: 1200px) {
    // background-color: rgb(186, 186, 209);
    grid-template: repeat(1, auto) / repeat(4, 1fr);
  }
  @media screen and (max-width: 800px) {
    // background-color: rgb(218, 204, 179);
    grid-template: repeat(1, auto) / repeat(1, 1fr);
  }
}
.form__content-grid2 {
  margin-top: $margin;
}
