@import "../config/_mixin";
@import "../config/_variables";

.form__content {
  // background-color: rgb(216, 166, 166);
  width: auto;
  height: auto;

  border: 3px double black;
  border-radius: 10px;
  padding: 10px;

  @include flexCenterCenter;
}

.form__content-grid {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(2, 1fr);
  $margin: 20px;
  gap: $margin;
  margin-top: $margin;
  @include standardTrnasition;
  @media screen and (min-width: 1200px) {
    // background-color: rgb(186, 186, 209);
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
  }
  @media screen and (max-width: 800px) {
    // background-color: rgb(218, 204, 179);
    grid-template: repeat(2, 1fr) / repeat(1, 1fr);
  }
}
