extends ./base/base.pug

include ./template/mixins/userProfile
include ./template/mixins/userFolio
include ./template/mixins/userFolioImage.pug

block content 
    include ./template/partials/access/change/changeSearch.pug

    // search__formUser,Folio,Image 는 search.js 에서 사용하기 위한 태그
    div#search__formUser
        form#search(method="POST")
            //- grid diplay
            span#access__Title 유저 검색을 위한 설정값
            include ./template/partials/access/select/selectMajorSearch.pug
            include ./template/partials/access/select/selectStatusSearch.pug
            label(for="searchNameUser") 검색 문구
            input(name="searchNameUser", type="text", placeholder="검색 문구")#search__input__text
            input(name="search", type="submit", value="유저 검색")

    div#search__formFolio.control-DisplayNone
        form#search(method="POST")
            span#access__Title 포트폴리오 검색을 위한 설정값
            include ./template/partials/access/select/selectMajorSearch.pug
            include ./template/partials/access/select/selectStatusSearch.pug
            label(for="searchNameFolio") 검색 문구
            input(name="searchNameFolio", type="text", placeholder="검색 문구")#search__input__text
            input(name="search", type="submit", value="포트폴리오 검색")
            label 모드 변경
            div#access__controlGrid
                button(type="button")#viewMode__1 1 열
                button(type="button")#viewMode__2 2 열
                button(type="button")#viewMode__3 3 열
                button(type="button")#viewMode__4 4 열
                button(type="button")#viewMode__5 5 열
                button(type="button")#viewMode__6 6 열 

    div#search__formImage.control-DisplayNone
        form#search(method="POST")
            span#access__Title 단일이미지 검색을 위한 설정값
            include ./template/partials/access/select/selectMajorSearch.pug
            include ./template/partials/access/select/selectStatusSearch.pug
            label(for="searchNameFolioImage") 검색 문구
            input(name="searchNameFolioImage", type="text", placeholder="검색 문구")#search__input__text
            input(name="search", type="submit", value="이미지 검색")

    case conditions__target
        when "user"
            div#search__targetUser
                each user in userDB
                    +user(user)
                else
                    span 검색 결과가 없습니다.
        when "folio"
            div#search__targetFolio.column3
                each folio in folioDB
                    +folio(folio)
                else
                    span 검색 결과가 없습니다.
        when "folioImage"
            div#search__targetImage
                div#image__masonry
                    each folioImage in folioImageDB
                        +folioImage(folioImage)
                    else
                        span 검색 결과가 없습니다.

    script(src="/static/js/searchTarget.js")
    script(src="/static/js/searchResultUser.js")
    script(src="/static/js/searchResultFolio.js")
    script(src="/static/js/searchResultImage.js")

    script(src="/static/js/masonry.js")