form.linkJoin
    case Title
        when "회원가입"
            a(href="/user/login") 로그인하기 &rarr;

        when "관리자 가입"
            a(href="/admin/login") 로그인하기 &rarr;
            
        when "비즈니스 가입"
            a(href="/company/login") 로그인하기 &rarr;

        default
            br
            span 새로고침해주세요