div.userProfile__followed.control__display-none
    if userDB.followedNameArray[0]!==undefined
        - var AAA = 0;
        div.followed__flex
            while AAA < followedLength
                div.followed__size
                    if loggedIn
                        if loggedInUser
                            button(type="button").followed__sort 아티스트 
                        else
                            button(type="button").followed__sort 불투명 
                    else
                        button(type="button").followed__sort 게스트 
                    button(type="button").followed__username #{userDB.followedNameArray[AAA]} 
                    a.followed__btn(href=`/user/profile/${userDB.followedArray[AAA]}`)
                        svg(xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor")
                            path(d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z")
                        span 열람
                span.control__display-none #{AAA++}
    else
        div
            span 당신을 팔로우한 아티스트가 없습니다.
            br
            a(href="/folio/upload")  새로운 프로젝트로 당신을 알려보세요!