div.userMeta__Follow
    button.followingViewBtn(type="button") #{userDB.followingNameArray.length} 팔로잉
    button.followedViewBtn(type="button") #{userDB.followedNameArray.length} 팔로워
    if loggedIn
        if loggedInUser._id!==String(userDB._id)
            a(href=`/user/profile/${userDB._id}/follow`) 팔로잉하기
        else
            a
    else
        a