/*!**********************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/client/scss/styles.scss ***!
  \**********************************************************************************************************************/
@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* media query (screen) 을 3단게로 분류
    Narrow << 이 기준으로 제작
    Normal
    Wide
*/
/* body
        navTop
        header
        main
        navPorfile
*/
#header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 200px;
}
#header #header__title {
  color: black;
  text-decoration: none;
  background-color: initial;
  transition: all 0.2s ease-in-out;
  font-size: 30px;
  font-weight: 600;
  position: relative;
  margin-top: 5px;
  margin-bottom: 5px;
}
#header #header__title #header__titleLike {
  width: 28px;
  position: absolute;
  bottom: -5px;
  padding-left: 5px;
}
#header #header__message {
  font-size: 14px;
  margin-bottom: 7px;
}
#header #header__subtitle {
  color: black;
  text-decoration: none;
  background-color: initial;
  transition: all 0.2s ease-in-out;
  transform: translateX(15px);
  font-size: 14px;
  text-align: center;
}
#header #header__error {
  color: rgba(97, 97, 195, 0.8);
  font-weight: 600;
  text-decoration: underline;
}

#main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: all 0.2s ease-in-out;
  padding: 40px 100px;
}
@media screen and (max-width: 1000px) {
  #main {
    padding: 30px 50px;
  }
}
@media screen and (max-width: 500px) {
  #main {
    padding: 20px;
  }
}
#main #main__error {
  color: rgba(97, 97, 195, 0.8);
  font-weight: 600;
  text-decoration: underline;
  display: flex;
  align-items: center;
  justify-content: center;
}

#search {
  border: 1px solid black;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
  padding: 20px 40px 20px 25px;
  min-width: 350px;
  width: 35%;
  height: auto;
  padding: 20px 40px 20px 25px;
  gap: 10px;
  display: grid;
  grid-template: repeat(1, 1fr)/repeat(4, 1fr);
  margin-bottom: 20px;
}
#search span[id=access__Title],
#search label,
#search input,
#search input::placeholder {
  text-align: center;
  font-size: 14px;
  margin-bottom: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#search span[id=access__Title] {
  grid-column: 1/-1;
  font-weight: 600;
}
#search input[type=submit] {
  grid-column: 2/4;
}
#search label {
  grid-column: 1/2;
}
#search input {
  width: 100%;
  grid-column: 2/-1;
}
#search select[name=major],
#search select[name=statusNow],
#search select[name=folioNameMade] {
  width: 103%;
  grid-column: 2/-1;
}
#search div[id=access__controlGrid] {
  width: 100%;
  grid-column: 2/-1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#search span[id=access__Description] {
  grid-column: 1/-1;
  font-size: 14px;
  text-align: center;
}

#search__targetUser {
  width: 100%;
  display: grid;
  gap: 21px;
  grid-template: repeat(1, 1fr)/repeat(4, 1fr);
}
@media screen and (max-width: 1400px) {
  #search__targetUser {
    gap: 14px;
    grid-template: repeat(1, 1fr)/repeat(3, 1fr);
  }
}
@media screen and (max-width: 1000px) {
  #search__targetUser {
    gap: 7px;
    grid-template: repeat(1, 1fr)/repeat(2, 1fr);
  }
}
@media screen and (max-width: 600px) {
  #search__targetUser {
    gap: 0;
    grid-template: repeat(1, 1fr)/repeat(1, 1fr);
  }
}

#search__targetFolio {
  width: 100%;
  gap: 10px;
  display: grid;
}

#search__targetImage {
  width: 100%;
}

.column1 {
  grid-template: repeat(1, 1fr)/repeat(1, 1fr);
}

.column2 {
  grid-template: repeat(1, 1fr)/repeat(2, 1fr);
}

.column3 {
  display: grid;
  grid-template: repeat(1, 1fr)/repeat(3, 1fr);
}

.column4 {
  display: grid;
  grid-template: repeat(1, 1fr)/repeat(4, 1fr);
}

.column5 {
  display: grid;
  grid-template: repeat(1, 1fr)/repeat(5, 1fr);
}

.column6 {
  display: grid;
  grid-template: repeat(1, 1fr)/repeat(6, 1fr);
}

#image__masonry {
  width: 100%;
}
#image__masonry .image__items {
  position: relative;
  width: 24%;
  margin: 0.25%;
}
@media screen and (max-width: 1400px) {
  #image__masonry .image__items {
    width: 32%;
    margin: 0.5%;
  }
}
@media screen and (max-width: 800px) {
  #image__masonry .image__items {
    width: 48%;
    margin: 1%;
  }
}
@media screen and (max-width: 600px) {
  #image__masonry .image__items {
    width: 100%;
  }
}
#image__masonry .image__items img {
  width: 100%;
}

.image__meta {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 90%;
  padding: 0 5%;
  background-color: rgba(246, 246, 233, 0.9);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.image__meta .image__metaDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}
.image__meta .image__metaDiv header {
  font-weight: 600;
  margin-right: 10px;
}
.image__meta .image__metaDiv span {
  font-size: 14px;
  opacity: 0.9;
  color: #1d1d1d;
}
.image__meta .image__metaDiv button,
.image__meta .image__metaDiv a {
  color: black;
  text-decoration: none;
  background-color: initial;
  color: black;
  border: initial;
  background-color: initial;
  min-width: 30px;
  width: auto;
}
.image__meta .image__metaDiv button .image__heart,
.image__meta .image__metaDiv a .image__heart {
  display: initial;
}
.image__meta .image__metaDiv button .image__heartFull,
.image__meta .image__metaDiv a .image__heartFull {
  display: none;
}
.image__meta .image__metaDiv button:hover .image__heart,
.image__meta .image__metaDiv a:hover .image__heart {
  display: none;
}
.image__meta .image__metaDiv button:hover .image__heartFull,
.image__meta .image__metaDiv a:hover .image__heartFull {
  display: initial;
}

.user__itmes {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template: repeat(2, minmax(0, auto))/repeat(2, 1fr);
}
.user__itmes > .user__image {
  grid-row: 1/3;
}
.user__itmes > .user__metaData {
  grid-row: 1/2;
  grid-column: 2/-1;
}
.user__itmes > .user__description {
  grid-row: 2/-1;
  grid-column: 2/-1;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1400px) {
  .user__itmes {
    grid-template: repeat(3, minmax(0, auto))/repeat(2, 1fr);
  }
  .user__itmes > .user__description {
    grid-row: 3/-1;
    grid-column: 1/-1;
  }
}
@media screen and (max-width: 600px) {
  .user__itmes {
    grid-template: repeat(3, minmax(0, auto))/repeat(1, 1fr);
  }
  .user__itmes > .user__metaData {
    grid-row: 3/4;
    grid-column: 1/-1;
  }
  .user__itmes > .user__description {
    grid-row: 4/-1;
    grid-column: 1/-1;
  }
}

.user__itmes {
  transition: all 0.2s ease-in-out;
}

.user__image {
  position: relative;
  padding-top: 100%;
  width: 100%;
  height: 0;
}
.user__image a {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.user__image a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.user__metaData {
  padding-top: 10px;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
}
.user__metaData strong {
  font-weight: 600;
  margin-bottom: 10px;
}

.user__description {
  padding: 10px;
  padding-bottom: 10px;
}

#admin__login,
#admin__join {
  border: 1px solid black;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
  padding: 20px 40px 20px 25px;
  min-width: 350px;
  width: 35%;
  height: auto;
  padding: 20px 40px 20px 25px;
  gap: 10px;
  display: grid;
  grid-template: repeat(1, 1fr)/repeat(4, 1fr);
}
#admin__login span[id=access__Title],
#admin__login label,
#admin__login input,
#admin__login input::placeholder,
#admin__join span[id=access__Title],
#admin__join label,
#admin__join input,
#admin__join input::placeholder {
  text-align: center;
  font-size: 14px;
  margin-bottom: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#admin__login span[id=access__Title],
#admin__join span[id=access__Title] {
  grid-column: 1/-1;
  font-weight: 600;
}
#admin__login input[type=submit],
#admin__join input[type=submit] {
  grid-column: 2/4;
}
#admin__login label,
#admin__join label {
  grid-column: 1/2;
}
#admin__login input,
#admin__join input {
  width: 100%;
  grid-column: 2/-1;
}
#admin__login select[name=major],
#admin__login select[name=statusNow],
#admin__login select[name=folioNameMade],
#admin__join select[name=major],
#admin__join select[name=statusNow],
#admin__join select[name=folioNameMade] {
  width: 103%;
  grid-column: 2/-1;
}
#admin__login div[id=access__controlGrid],
#admin__join div[id=access__controlGrid] {
  width: 100%;
  grid-column: 2/-1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#admin__login span[id=access__Description],
#admin__join span[id=access__Description] {
  grid-column: 1/-1;
  font-size: 14px;
  text-align: center;
}

#company__login,
#company__join {
  border: 1px solid black;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
  padding: 20px 40px 20px 25px;
  min-width: 350px;
  width: 35%;
  height: auto;
  padding: 20px 40px 20px 25px;
  gap: 10px;
  display: grid;
  grid-template: repeat(1, 1fr)/repeat(4, 1fr);
}
#company__login span[id=access__Title],
#company__login label,
#company__login input,
#company__login input::placeholder,
#company__join span[id=access__Title],
#company__join label,
#company__join input,
#company__join input::placeholder {
  text-align: center;
  font-size: 14px;
  margin-bottom: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#company__login span[id=access__Title],
#company__join span[id=access__Title] {
  grid-column: 1/-1;
  font-weight: 600;
}
#company__login input[type=submit],
#company__join input[type=submit] {
  grid-column: 2/4;
}
#company__login label,
#company__join label {
  grid-column: 1/2;
}
#company__login input,
#company__join input {
  width: 100%;
  grid-column: 2/-1;
}
#company__login select[name=major],
#company__login select[name=statusNow],
#company__login select[name=folioNameMade],
#company__join select[name=major],
#company__join select[name=statusNow],
#company__join select[name=folioNameMade] {
  width: 103%;
  grid-column: 2/-1;
}
#company__login div[id=access__controlGrid],
#company__join div[id=access__controlGrid] {
  width: 100%;
  grid-column: 2/-1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#company__login span[id=access__Description],
#company__join span[id=access__Description] {
  grid-column: 1/-1;
  font-size: 14px;
  text-align: center;
}

#user__login,
#user__join {
  border: 1px solid black;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
  padding: 20px 40px 20px 25px;
  gap: 10px;
  display: grid;
  grid-template: repeat(1, 1fr)/repeat(4, 1fr);
}
#user__login span[id=access__Title],
#user__login label,
#user__login input,
#user__login input::placeholder,
#user__join span[id=access__Title],
#user__join label,
#user__join input,
#user__join input::placeholder {
  text-align: center;
  font-size: 14px;
  margin-bottom: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#user__login span[id=access__Title],
#user__join span[id=access__Title] {
  grid-column: 1/-1;
  font-weight: 600;
}
#user__login input[type=submit],
#user__join input[type=submit] {
  grid-column: 2/4;
}
#user__login label,
#user__join label {
  grid-column: 1/2;
}
#user__login input,
#user__join input {
  width: 100%;
  grid-column: 2/-1;
}
#user__login select[name=major],
#user__login select[name=statusNow],
#user__login select[name=folioNameMade],
#user__join select[name=major],
#user__join select[name=statusNow],
#user__join select[name=folioNameMade] {
  width: 103%;
  grid-column: 2/-1;
}
#user__login div[id=access__controlGrid],
#user__join div[id=access__controlGrid] {
  width: 100%;
  grid-column: 2/-1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#user__login span[id=access__Description],
#user__join span[id=access__Description] {
  grid-column: 1/-1;
  font-size: 14px;
  text-align: center;
}

#user__profile {
  width: 100%;
  border: 1px solid black;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
  padding: 20px 40px 20px 25px;
  width: 90%;
  gap: 10px;
  display: grid;
  grid-template: repeat(3, minmax(10px, auto))/repeat(4, 1fr);
  margin-bottom: 20px;
}
#user__profile #access__userSns {
  grid-column: 4/-1;
}
#user__profile #access__userFollow {
  grid-column: 1/-1;
}
#user__profile #access__userProject {
  grid-column: 1/-1;
}
@media screen and (max-width: 1000px) {
  #user__profile {
    grid-template: repeat(2, minmax(10px, auto))/repeat(4, 1fr);
  }
  #user__profile #access__userDescript {
    grid-column: 3/-1;
  }
  #user__profile #access__userSns {
    grid-column: 1/-1;
  }
  #user__profile #access__userFollow {
    grid-column: 1/-1;
  }
  #user__profile #access__userProject {
    grid-column: 1/-1;
  }
}
@media screen and (max-width: 600px) {
  #user__profile {
    grid-template: repeat(4, minmax(10px, auto))/repeat(2, 1fr);
  }
  #user__profile #access__userDescript {
    grid-column: 1/-1;
  }
  #user__profile #access__userSns {
    grid-column: 1/-1;
  }
  #user__profile #access__userFollow {
    grid-column: 1/-1;
  }
  #user__profile #access__userProject {
    grid-column: 1/-1;
  }
}
#user__profile a,
#user__profile button {
  color: black;
  text-decoration: none;
  background-color: initial;
  color: black;
  border: initial;
  background-color: initial;
  color: rgba(97, 97, 195, 0.8);
  font-weight: 600;
  text-decoration: underline;
  text-decoration: none;
}
#user__profile a:hover,
#user__profile button:hover {
  border-radius: 5px;
  opacity: 0.8;
  transition: all 0.2s ease-in-out;
}
#user__profile a:hover:hover,
#user__profile button:hover:hover {
  opacity: 1;
  transform: scale(1.1);
}
@media screen and (max-width: 1000px) {
  #user__profile a:hover:hover,
#user__profile button:hover:hover {
    transform: scale(1.05);
  }
}
@media screen and (max-width: 600px) {
  #user__profile a:hover:hover,
#user__profile button:hover:hover {
    transform: scale(1.05);
  }
}
#user__profile > div {
  transition: all 0.2s ease-in-out;
}
#user__profile #access__userImg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
}
#user__profile #access__userImg > img {
  width: 100%;
  height: auto;
  max-height: 200px;
  object-fit: cover;
  border-radius: 10px;
  opacity: 0.9;
}
#user__profile #access__userMeta {
  font-size: 14px;
  margin-bottom: 7px;
  display: flex;
  flex-direction: column;
}
#user__profile #access__userMeta .userProfile__modify {
  color: rgba(97, 97, 195, 0.8);
  font-weight: 600;
  text-decoration: underline;
  border-radius: 5px;
  opacity: 0.8;
  transition: all 0.2s ease-in-out;
  margin-left: 5px;
  text-decoration: initial;
}
#user__profile #access__userMeta .userProfile__modify:hover {
  opacity: 1;
  transform: scale(1.1);
}
@media screen and (max-width: 1000px) {
  #user__profile #access__userMeta .userProfile__modify:hover {
    transform: scale(1.05);
  }
}
@media screen and (max-width: 600px) {
  #user__profile #access__userMeta .userProfile__modify:hover {
    transform: scale(1.05);
  }
}
#user__profile #access__userDescript {
  font-size: 14px;
  margin-bottom: 7px;
}
#user__profile #access__userDescript #modifyInputDiv input {
  border: initial;
  background-color: initial;
}
#user__profile #access__userDescript #modifyInputDiv input[type=submit] {
  color: rgba(97, 97, 195, 0.8);
  font-weight: 600;
  text-decoration: underline;
  text-decoration: initial;
}
#user__profile #access__userDescript #modifyInputDiv input {
  border-radius: 5px;
  opacity: 0.8;
  transition: all 0.2s ease-in-out;
}
#user__profile #access__userDescript #modifyInputDiv input:hover {
  opacity: 1;
  transform: scale(1.1);
}
@media screen and (max-width: 1000px) {
  #user__profile #access__userDescript #modifyInputDiv input:hover {
    transform: scale(1.05);
  }
}
@media screen and (max-width: 600px) {
  #user__profile #access__userDescript #modifyInputDiv input:hover {
    transform: scale(1.05);
  }
}
#user__profile #access__userSns {
  font-size: 14px;
  margin-bottom: 7px;
}
#user__profile #access__userFollow {
  font-size: 14px;
  margin-bottom: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#user__profile #access__userProject {
  font-size: 14px;
  margin-bottom: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#user__profile #access__userProject svg {
  width: 20px;
}

#access__userUpload {
  order: 1;
  grid-column: 1/-1;
  display: flex;
  align-items: center;
  justify-content: center;
}
#access__userUpload > div {
  padding: 20px;
  width: 100%;
  max-width: 600px;
  height: auto;
  max-height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 14px;
  margin-bottom: 7px;
  border: 1px solid black;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}
#access__userUpload > div > span:nth-child(2) {
  margin-bottom: 8px;
}
#access__userUpload > div > a {
  color: black;
  text-decoration: none;
  background-color: initial;
  color: rgba(97, 97, 195, 0.8);
  font-weight: 600;
  text-decoration: underline;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  opacity: 0.8;
  transition: all 0.2s ease-in-out;
}
#access__userUpload > div > a:hover {
  opacity: 1;
  transform: scale(1.1);
}
@media screen and (max-width: 1000px) {
  #access__userUpload > div > a:hover {
    transform: scale(1.05);
  }
}
@media screen and (max-width: 600px) {
  #access__userUpload > div > a:hover {
    transform: scale(1.05);
  }
}
#access__userUpload > div > a svg {
  width: 15px;
}

#user__portfolio {
  width: 100%;
  gap: 10px;
  display: grid;
  grid-template: repeat(1, 1fr)/repeat(4, 1fr);
}
@media screen and (max-width: 1000px) {
  #user__portfolio {
    grid-template: repeat(1, 1fr)/repeat(2, 1fr);
  }
}
@media screen and (max-width: 600px) {
  #user__portfolio {
    grid-template: repeat(1, 1fr)/repeat(1, 1fr);
  }
}

#access__Detail {
  color: black;
  border: initial;
  background-color: initial;
  border-radius: 5px;
  opacity: 0.8;
  transition: all 0.2s ease-in-out;
}
#access__Detail:hover {
  opacity: 1;
  transform: scale(1.1);
}
@media screen and (max-width: 1000px) {
  #access__Detail:hover {
    transform: scale(1.05);
  }
}
@media screen and (max-width: 600px) {
  #access__Detail:hover {
    transform: scale(1.05);
  }
}

#folio__upload {
  border: 1px solid black;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
  padding: 20px 40px 20px 25px;
  gap: 10px;
  display: grid;
  grid-template: repeat(1, 1fr)/repeat(4, 1fr);
}
#folio__upload span[id=access__Title],
#folio__upload label,
#folio__upload input,
#folio__upload input::placeholder {
  text-align: center;
  font-size: 14px;
  margin-bottom: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#folio__upload span[id=access__Title] {
  grid-column: 1/-1;
  font-weight: 600;
}
#folio__upload input[type=submit] {
  grid-column: 2/4;
}
#folio__upload label {
  grid-column: 1/2;
}
#folio__upload input {
  width: 100%;
  grid-column: 2/-1;
}
#folio__upload select[name=major],
#folio__upload select[name=statusNow],
#folio__upload select[name=folioNameMade] {
  width: 103%;
  grid-column: 2/-1;
}
#folio__upload div[id=access__controlGrid] {
  width: 100%;
  grid-column: 2/-1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#folio__upload span[id=access__Description] {
  grid-column: 1/-1;
  font-size: 14px;
  text-align: center;
}

#upload__meta {
  border: 1px solid black;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
  padding: 20px 40px 20px 25px;
  gap: 10px;
  display: grid;
  grid-template: repeat(1, 1fr)/repeat(4, 1fr);
}
#upload__meta span[id=access__Title],
#upload__meta label,
#upload__meta input,
#upload__meta input::placeholder {
  text-align: center;
  font-size: 14px;
  margin-bottom: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#upload__meta span[id=access__Title] {
  grid-column: 1/-1;
  font-weight: 600;
}
#upload__meta input[type=submit] {
  grid-column: 2/4;
}
#upload__meta label {
  grid-column: 1/2;
}
#upload__meta input {
  width: 100%;
  grid-column: 2/-1;
}
#upload__meta select[name=major],
#upload__meta select[name=statusNow],
#upload__meta select[name=folioNameMade] {
  width: 103%;
  grid-column: 2/-1;
}
#upload__meta div[id=access__controlGrid] {
  width: 100%;
  grid-column: 2/-1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#upload__meta span[id=access__Description] {
  grid-column: 1/-1;
  font-size: 14px;
  text-align: center;
}
#upload__meta select[name=folioName] {
  grid-column: 2/-1;
}

#folio__images {
  width: 100%;
}
#folio__images .image__folioLink {
  margin-left: 5px;
  margin-bottom: 10px;
  color: black;
  text-decoration: none;
  background-color: initial;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}
#folio__images .image__folioLink:hover {
  opacity: 0.6;
  transform: scale(1.1);
}

#image__more {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#image__moreBtn {
  color: black;
  border: initial;
  background-color: initial;
  border-radius: 5px;
  opacity: 0.8;
  transition: all 0.2s ease-in-out;
  padding: 5px 10px;
  font-weight: 600;
  background-color: #e9e9c0;
}
#image__moreBtn:hover {
  opacity: 1;
  transform: scale(1.1);
}
@media screen and (max-width: 1000px) {
  #image__moreBtn:hover {
    transform: scale(1.05);
  }
}
@media screen and (max-width: 600px) {
  #image__moreBtn:hover {
    transform: scale(1.05);
  }
}

#iamge__upload {
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 300px;
  width: 100%;
  height: 100%;
  background-color: white;
}
#iamge__upload > div {
  display: flex;
  justify-content: center;
}
#iamge__upload > div > form {
  min-width: 400px;
  width: 40%;
  max-width: 600px;
  width: 80%;
  height: 100%;
  border: 1px solid black;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
  padding: 20px 40px 20px 25px;
  gap: 10px;
  display: grid;
  grid-template: repeat(1, 1fr)/repeat(4, 1fr);
}
#iamge__upload > div > form span[id=access__Title],
#iamge__upload > div > form label,
#iamge__upload > div > form input,
#iamge__upload > div > form input::placeholder {
  text-align: center;
  font-size: 14px;
  margin-bottom: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#iamge__upload > div > form span[id=access__Title] {
  grid-column: 1/-1;
  font-weight: 600;
}
#iamge__upload > div > form input[type=submit] {
  grid-column: 2/4;
}
#iamge__upload > div > form label {
  grid-column: 1/2;
}
#iamge__upload > div > form input {
  width: 100%;
  grid-column: 2/-1;
}
#iamge__upload > div > form select[name=major],
#iamge__upload > div > form select[name=statusNow],
#iamge__upload > div > form select[name=folioNameMade] {
  width: 103%;
  grid-column: 2/-1;
}
#iamge__upload > div > form div[id=access__controlGrid] {
  width: 100%;
  grid-column: 2/-1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#iamge__upload > div > form span[id=access__Description] {
  grid-column: 1/-1;
  font-size: 14px;
  text-align: center;
}

#navTop {
  z-index: 99;
  position: fixed;
  width: 100%;
  height: 40px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  background-color: white;
}
#navTop a,
#navTop button,
#navTop svg {
  padding: 0;
  margin: 0;
  color: initial;
  border: initial;
  background-color: initial;
}
#navTop a {
  color: black;
  text-decoration: none;
  background-color: initial;
}
#navTop button {
  color: black;
  border: initial;
  background-color: initial;
}
#navTop svg {
  margin-right: 5px;
  width: 20px;
  border-radius: 5px;
  opacity: 0.8;
  transition: all 0.2s ease-in-out;
  background-color: white;
}
#navTop svg:hover {
  opacity: 1;
  transform: scale(1.1);
}
@media screen and (max-width: 1000px) {
  #navTop svg:hover {
    transform: scale(1.05);
  }
}
@media screen and (max-width: 600px) {
  #navTop svg:hover {
    transform: scale(1.05);
  }
}

/*  Sort of Button
    #navTop__settings,
    #navTop__search,
    #navTop__folioUpload,
    #navTop__folioImageUpload,
    #navTop__myprofile,
    #navTop__logout,
    #navTop__login,
    #navTop__join,
    #navTop__log
*/
#navBottom {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 0;
  margin: 0;
}
#navBottom button {
  color: black;
  border: initial;
  background-color: initial;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
  padding: 0;
  margin: 0;
}
#navBottom button:hover {
  opacity: 0.6;
  transform: scale(1.1);
}

#access__changeJoin,
#access__changeLogin,
#access__changeSearch {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 12px;
}
#access__changeJoin button,
#access__changeJoin a,
#access__changeLogin button,
#access__changeLogin a,
#access__changeSearch button,
#access__changeSearch a {
  color: black;
  text-decoration: none;
  background-color: initial;
  color: black;
  border: initial;
  background-color: initial;
  font-size: 14px;
  margin-bottom: 7px;
  width: auto;
  height: 20px;
  padding: 0;
  margin: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#access__changeJoin button,
#access__changeLogin button,
#access__changeSearch button {
  font-weight: 600;
  color: #0d610d;
}

#access__linkJoin,
#access__linkLogin {
  margin-top: 15px;
}
#access__linkJoin a,
#access__linkLogin a {
  color: black;
  text-decoration: none;
  background-color: initial;
}

/* overfolow attributes
      visible : 내용이 흘러넘침
      hidden : 내용이 잘리는 부분은 자르기
      scroll : 항상 스크롤바 노출
      auto : 내용이 잘릴 때만 스크롤바 노출
*/
.access__folioCover {
  overflow: hidden;
  /* overfolow attributes
      visible : 내용이 흘러넘침
      hidden : 내용이 잘리는 부분은 자르기
      scroll : 항상 스크롤바 노출
      auto : 내용이 잘릴 때만 스크롤바 노출
    */
  position: relative;
  padding-top: 150%;
  width: 100%;
  height: 0;
  margin-bottom: 20px;
  border: 1px solid black;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
  border: none;
  border-radius: 5px;
  opacity: 0.8;
  transition: all 0.2s ease-in-out;
}
.access__folioCover > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.access__folioCover > div > a > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.access__folioCover:hover {
  opacity: 1;
  transform: scale(1.1);
}
@media screen and (max-width: 1000px) {
  .access__folioCover:hover {
    transform: scale(1.05);
  }
}
@media screen and (max-width: 600px) {
  .access__folioCover:hover {
    transform: scale(1.05);
  }
}

.access__folioUncover {
  position: relative;
  border: 1px solid black;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
  border-radius: 5px;
  opacity: 0.8;
  transition: all 0.2s ease-in-out;
  padding-top: 150%;
  width: 100%;
  height: 0;
}
.access__folioUncover:hover {
  opacity: 1;
  transform: scale(1.1);
}
@media screen and (max-width: 1000px) {
  .access__folioUncover:hover {
    transform: scale(1.05);
  }
}
@media screen and (max-width: 600px) {
  .access__folioUncover:hover {
    transform: scale(1.05);
  }
}
@media screen and (min-width: 1200px) {
  .access__folioUncover {
    padding-top: 150%;
  }
}
@media screen and (max-width: 600px) {
  .access__folioUncover {
    padding-top: 150%;
  }
}
.access__folioUncover > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template: repeat(15, minmax(1fr, 0))/repeat(1, 1fr);
}
.access__folioUncover > div > div:nth-child(1) {
  grid-row: 1/3;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.access__folioUncover > div > div:nth-child(2) {
  grid-row: 3/6;
  text-align: center;
}
.access__folioUncover a {
  color: rgba(97, 97, 195, 0.8);
  font-weight: 600;
  text-decoration: underline;
  text-decoration: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
body svg {
  width: 28px;
}

.control-DisplayNone {
  display: none;
}

.control-font600 {
  font-weight: 600;
}

.font-600 {
  font-weight: 600;
}

.control__display-none {
  display: none;
}

.preventDrag {
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
