label(for="statusNow").selectStatus__label 현재상태
select(name="statusNow", value="3").selectStatus__select
    option(value=99) -
    option(value=0) 구경 중
    option(value=1) 공부 중
    option(value=2) 구직 중
    option(value=3) 외주 중