label(for="major").selectMajor__label 전공
select(name="major").selectMajor__select
    option(value=99) -
    option(value=0) 만화가, 애니메이터
    option(value=1) 일러스트레이터
    option(value=2) 포토그래퍼
    option(value=3) 화가
    option(value=4) 조각가
    option(value=5) 수,공예가
    option(value=6) 폰트 디자이너
    option(value=7) 그래픽 디자이너
    option(value=8) 출판,편집 디자이너
    option(value=9) 광고,시각 디자이너
    option(value=10) 의류,패션 디자이너
    option(value=11) 잡화,제품 디자이너
    option(value=12) 전시, 공간 디자이너
    option(value=13) 웹 다자이너
    option(value=14) 영상 디자이너
    option(value=15) 미분류