extends ../../base/base.pug
include ../mixins/userFolioImage.pug

block content
    div#folio__images
        a.image__folioLink(href=`/search`) 서치
        a.image__folioLink(href=`/user/profile/${folioDB.master}`) 프로필
        br
        br

        div#image__masonry
            each folioImage in folioDB.folioImageArray
                +folioImage(folioImage)
            else
                span
        div#image__more
            button(type="button")#image__moreBtn 이미지 더보기

        div#iamge__upload.control-DisplayNone
            div
                form(method="POST", enctype="multipart/form-data")
                    span#access__Title 사진 업로드

                    label(for="folioImageName") 이름
                    input(name="folioImageName",type="text", placeholder="포트폴리오 이름", value=username)
                    include ../partials/access/select/selectMajorImage.pug
                    include ../partials/access/select/selectStatusImage.pug
                    label(for="folioImage") 파일 선택
                    input(name="folioImage", type="file", accept="image/*", id="folioImage")

                    input(name="create", type="submit", value="사진 업로드")
                    span#access__Description 이름을 정하지 않으면 "untitle" 으로 생성됩니다.

        //- script(src="/static/js/folioView.js") >> searchResultImage.js >> folioUloadImage.js
        script(src="/static/js/folioUloadImage.js")

        script(src="/static/js/masonry.js")
        script(src="/static/js/masonryFake.js")