extends ../../base/base.pug
include ../mixins/userFolioImage.pug

block content
    form.screen__folio(method="POST", enctype="multipart/form-data")

    div#folioImageUploadDiv.control__display-none
        form(method="POST", enctype="multipart/form-data").form__access1
            div.access__flex
                header.access__title 사진 업로드

                label(for="folioImageName") 이름
                input(name="folioImageName",type="text", placeholder="포트폴리오 이름", required, value=username)

                label 작업물
                label.access(for="folioImage") 파일 선택
                input(name="folioImage", type="file", accept="image/*", id="folioImage")

                input(name="create", type="submit", value="사진 업로드")
                span 한 번 생성한 포트폴리오는 당신의 창작물을 보관해줄 것입니다.

    script(src="/static/js/folioView.js")
