//- 외곽선 미포함
// 우측확장 grid 미포함
div.form__folioImage
    // position: relative
    // width auto, auto...
    // displfex flex center center
    div.f__folImage__image
        // position initial
        // width, height ...
        // displfex flex center center
        div.f__folImage__image__indiv
            // position initial
            // width auto, height 100% ...
            // image cover
            include ../mixins/something.pug
    div.f__folImage__title
        span 제목